header{
    background-color: black;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 600;
}

section{
    height: 90vh;
}

#home{
    width: 100%;
    height: 2em;
    font-weight: bold;
    font-size: 1.5em;
}

#canvas{
    border: solid 2px black;
    height: 80vh;
    padding: auto;
    overflow: auto;
}

.module-panel{
    border: solid 2px black;
    height: 30px;
}