header {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: 600;
}

section {
  align-items: center;
}

.row {
  margin: 0px;
}

.menu-buttons {
  width: 100%;
  height: 2em;
  font-weight: bold;
  font-size: 1.5em;
  margin: auto;
}

#canvas {
  border: solid 2px black;
  overflow: auto;
  max-width: 936px;
}

.module-panel {
  border: solid 2px black;
  height: auto;
  max-height: 226px;
  align-items: center;
  text-align: center;
  padding: 0px;
}

.module-image {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.console {
  min-height: 30px;
  background-color: black;
  color: green;
  font-family: 'Consolas';
  padding: 0.5em 1em;
  border: ridge 2px green;
  border-radius: 3px;
}

.global-setting-container {
  margin: 0px auto;
  max-width: 450px;
}

.global-setting-container div.col {
  padding: 0px;
}

.steel-text {
  background-color: gray;
  font-family: 'Stencil';
  padding: 0.5em 1em;
}

.steel-button {
  width: 100%;
  font-size: 13pt;
  font-family: 'Stencil';
  border: whitesmoke 2px outset;
}

.colour-button {
  position: relative;
  border: whitesmoke 2px outset;
  width: 100%;
  height: 100%;
  color: rgb(124, 0, 0);
  font-weight: bold;
}

.selected {
  background-color: lightgreen;
}

.hidden {
  display: none;
}

.circle {
  border-radius: 100%;
  background-color: grey;
  height: 40vw;
  width: 40vw;
  text-align: center;
  align-items: center;
  font-family: 'Stencil';
  font-size: 3em;
  margin: 5px auto;
}

/* General Colours */
.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.white {
  background-color: whitesmoke;
}

.green {
  background-color: green;
}

.clear {
  background-color: grey;
}

/* Backgrounds */
.steel-plate {
  background-image: url('../images/module-background.webp');
  background-repeat: repeat;
  background-size: cover;
  padding: 0px;
}

/* Bomb Modal Specific */
#parallel-img {
  width: 100px;
}

/* Simple Wires */
.simple-wire-row {
  height: 3em;
}

.simple-wire-row div {
  padding: 0px;
  margin: 0px;
}

.wire {
  margin: 1em 0.5em !important;
  visibility: hidden;
  height: 10px;
  border: solid black 1px;
}

/* Mazes */
.maze-square {
  height: 50px;
  border: solid 1px rgb(209, 209, 209);
}

#maze {
  border: solid 3px black;
  width: 300px;
  margin: 1em auto;
}

#svg-canvas {
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 10000;
  margin: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
}

/* Simon Says */
.simon-square {
  width: 50%;
  height: 50%;
  position: absolute;
  border: 5px outset;
}

#simon-red {
  left: 0;
  top: 0;
}

#simon-red:active {
  background-color: rgb(165, 0, 0);
}

#simon-blue {
  right: 0;
  top: 0;
}

#simon-blue:active {
  background-color: rgb(0, 0, 163);
}

#simon-green {
  left: 0;
  bottom: 0;
}

#simon-green:active {
  background-color: rgb(0, 80, 0);
}

#simon-yellow {
  right: 0;
  bottom: 0;
}

#simon-yellow:active {
  background-color: rgb(179, 179, 0);
}

#simon-wrapper {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 50% 0;
  background: #fff;
  text-align: center;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#simon-container {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 0;
  padding: 5% 0;
  border: solid 1px rgba(255, 255, 255, 0.2);
}

#simon {
  position: relative;
  width: 60vw;
  height: 50vh;
  max-width: 300px;
  max-height: 360px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media (orientation: landscape) {
  #simon {
    width: 40vw;
    height: 85vh;
  }
}
